/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2014, 4:35:54 PM
    Author     : jamesarama
*/

.main-content{
    display: block;
    min-height: 300px;
}